@import url('https://fonts.googleapis.com/css?family=Open+Sans|Prata&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";



.image-wrapper {
  background: #e0e0e0;
}

.image-wrapper img {
  mix-blend-mode: luminosity;
}

.image-wrapper img:hover {
  mix-blend-mode: normal;
}

/*--- Neeeded, to make work dropdown  */
.navbar-item.has-dropdown .navbar-dropdown {
  display: none;
}

.navbar-item.has-dropdown.is-active .navbar-dropdown {
  display: block;
}

.transparent {
  background-color: transparent !important;
}

* {
  box-shadow: none !important;
}

.transparent {
  background: transparent !important;
}




body,
.box,
.notification {
  background-color: #e0e0e0 !important;
}

.prata {
  font-family: 'Prata', serif;

}

.opensans {
  font-family: 'Open Sans', sans-serif;
}